.container {
    display: flex;
    min-height: calc(100vh - 70px);
}

.left {
    flex: 0 0 220px;
    background-color: var(--sidebar-bg);
    color: var(--sidebar-text);
    padding: 12px;
    overflow-y: auto;
}

.right {
    flex: 1;
    background-color: var(--content-bg);
    padding: 12px;
    overflow-y: auto;
}
